<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Variable String</th>
      <th scope="col">Nombre en upercase</th>
      <th scope="col">Numero</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ nombre }}</td>
      <td>{{ nombre | uppercase }}</td>
      <td>{{ nota }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="cambiar_nombre()" >Cambiar nombre</button>

<br><br>

<input type="text" [(ngModel)]="lado" class="form-control" placeholder="Escriba un nombre">
